.stopwatch>.clock{
    text-align:center;
    font-family:monospace;
    margin:calc(16px * var(--zoom)) 0;
    position:relative;
    font-size:calc(var(--baseFontSize) * var(--zoom));
    height:calc(var(--baseFontSize) * var(--zoom) * 1.2);
}
.stopwatch>.clock>*{
    position:absolute;
}
.stopwatch.a>.clock{
    --baseFontSize:64px;
    left:calc(69.6px * var(--zoom));
}
.stopwatch.b>.clock{
    --baseFontSize:40px;
    left:calc(7px * var(--zoom));
}
