services:
    stopwatch:
        ports:
            - 1100:1100
        volumes:
            - ./stopwatch:/app/stopwatch
            - ~/.anliting/testTls/1.crt:/app/tls/crt
            - ~/.anliting/testTls/1.key:/app/tls/key
