@import 'HomePage/main.css';
@import 'MenuPage/main.css';
@import 'SettingsPage/main.css';
@import 'TimestampProviderPage/main.css';
.page{
    height:100%;
}
.page>*>.menu{
    display:inline-block;
    color:#fff;
    font-size:calc(1 / 24 * var(--zoom) * 1px);
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    overflow-x:hidden;
    overflow-y:auto;
}
.page>*>.menu>.clickable{
    cursor:default;
    user-select:none;
}
.page>*>.menu>.clickable:hover{
    background-color:#8f8f8f;
}
.page>*>.menu>.clickable:active{
    background-color:#5f5f5f;
}
.page>*>.menu>.item{
    display:table;
    width:calc(24 / 24 * var(--zoom) * 1px);
    height:calc(4 / 24 * var(--zoom) * 1px);
}
.page>*>.menu>.item::after{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    line-height:0;
}
.page>*>.menu>.item>*{
    display:table-cell;
    vertical-align:middle;
}
.page>*>.menu>.item>.a{
    padding-left:calc(1 / 24 * var(--zoom) * 1px);
    padding-right:calc(.5 / 24 * var(--zoom) * 1px);
    font-size:calc(1.5 / 24 * var(--zoom) * 1px);
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    width:calc(1.5 / 24 * var(--zoom) * 1px);
}
.page>*>.menu>.item>.b{
    width:calc(18 / 24 * var(--zoom) * 1px);
    font-size:calc(1.5 / 24 * var(--zoom) * 1px);
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    text-align:left;
    line-height:1.2;
}
.page>*>.menu>.item>.b>.title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.page>*>.menu>.item>.b>.description{
    font-size:calc(.8 / 24 * var(--zoom) * 1px);
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    color:#dfdfdf;
}
.page>*>.menu>.item>.c{
    padding-left:calc(.5 / 24 * var(--zoom) * 1px);
    padding-right:calc(1 / 24 * var(--zoom) * 1px);
    width:calc(1.5 / 24 * var(--zoom) * 1px);
    text-align:right;
}
