@import 'Clock/main.css';
.stopwatch>.control>.button{
    position:relative;
    overflow:hidden;
}
.stopwatch>.control>.button{
    background-color:#3f3f3f;
    font-size:calc(30px * var(--zoom));
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    height:calc(64px * var(--zoom));
    color:white;
    user-select:none;
    text-align:center;
    line-height:calc(64px * var(--zoom));
}
@keyframes click{
    from{
        background:#1f1f1f;
    }
}
.stopwatch>.control>.button:hover{
    background-color:#4f4f4f;
}
.stopwatch>.control>.button>*>*{
    vertical-align:middle;
}
.stopwatch>.control>.button>*>.b{
    font-size:calc(45px * var(--zoom));
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
}
.stopwatch>.control>.button>*>.a{
    color:#bfbfbf;
}
.stopwatch.a>.control{
    position:relative;
    margin:0 auto;
    width:calc(600px * var(--zoom));
    height:calc(64px * var(--zoom));
}
.stopwatch.a>.control>.button{
    position:absolute;
    width:48%;
}
.stopwatch.a>.control>.button.a{
    left:1%;
}
.stopwatch.a>.control>.button.b{
    right:1%;
}
.stopwatch.b>.control>.button{
    width:calc(302px * var(--zoom));
    margin:0 auto;
}
.stopwatch.b>.control>.button+.button{
    margin-top:calc(8px * var(--zoom));
}
