@import 'Stopwatch/main.css';
.homePage{
    position:relative;
    margin:calc(8px *  var(--zoom));
    width:calc(100% - 16px * var(--zoom));
    height:calc(100% - 16px * var(--zoom));
    color:white;
    font-size:calc(16px * var(--zoom));
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    text-align:center;
}
.homePage::after{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.homePage>.stopwatch{
    display:inline-block;
    vertical-align:middle;
}
.homePage>.top{
    position:absolute;
    right:calc(-8px *  var(--zoom));
    top:calc(-8px *  var(--zoom));
    user-select:none;
    font-size:calc(24px * var(--zoom));
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
    width:calc(36px * 1.2 * var(--zoom));
    height:calc(36px * 1.2 * var(--zoom));
    line-height:0;
}
.homePage>.top:hover{
    background-color:#8f8f8f;
}
.homePage>.top:active{
    background-color:#5f5f5f;
}
.homePage>.top::after{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.homePage>.top>*{
    vertical-align:middle;
    font-size:calc(24px * var(--zoom));
    text-shadow:
        0 0 .0625em rgba(0,0,0,.4),
        .0625em .0625em .0625em rgba(0,0,0,.2);
}
